@model DeliverEase.Models.DeliveryDriver
<h4>look mom we made it!</h4>

<div>more to come</div>
<h1 class="lead"> Available Deliveries</h1>
<hr />
@Html.ActionLink("View", "Index", new { id = Model.DriverId}, new { @class = "btn btn-success" })