@model DeliverEase.Models.DeliveryDriver

<div class="jumbotron text-center">Welcome @Model.DriverFirstName</div>
<h1 class="lead"> Available Deliveries</h1>
<hr />
@Html.ActionLink("View", "PendingDeliveries", "DeliveryDriver",  new { @class = "btn btn-success" })