@model DeliverEase.Models.CustomerViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Select A Restaurant</h2>
<hr />
@Html.ActionLink("Select","SelectRestaurant","Orders", new { @class = "btn btn-success btn-large" })
<p> have the order information stored and accessible</p>
