@{
    ViewBag.Title = "Home Page";
}

<!--<div id="map"></div>-->
<div id="map-canvas"></div>

<script>

    var map; 
    
    function initMap()
    {        
        var location = { lat: 43.0389, lng: -87.9064 };
        var mapOptions = { zoom: 13, center: location  };

        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        //var marker = new google.maps.Marker({position: location , map: map})
        addMarker(map, location);
    }
    
        
    function addMarker(mapVar, location)
    {
        var marker = new google.maps.Marker({ position: location, map: mapVar });
    }
    
    function addMarkers(locationArray, mapVar) {
        internalArray = locationArray;

    }
    
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxzznBe8ybNXYxz0ZOyhRJQbbVGvam75s&callback=initMap"></script>

@section scripts{
    
<script>
        //define currently local variables
        var address = "1519 n farwell st milwaukee wi";
        var formattedAddress = createAddressString(address);

        //run corrected geocode address
        geocode (formattedAddress);

        //create corrected geocode address
        function geocode (geoAddress) {
            var location = geoAddress;

            //make URL request to Google Geocode API
            jQuery.get('https://maps.google.com/maps/api/geocode/json?address=' + location + '&key=AIzaSyCxzznBe8ybNXYxz0ZOyhRJQbbVGvam75s')

                //dump response JSON to console
                .then (function (response) {
                    console.log(response);
            })
        }

        //make '+'es between words in GET URL instead of spaces
        function createAddressString(place) {
            var address = place.split(" ");
            var addressString = "";
            for (i = 0; i < address.length; i++) {
                if (i < address.length - 1) {
                    addressString += address[i].toString() + "+";
                } else {
                    addressString += address[i].toString();
                }
            }
            console.log(addressString);
            return addressString;
        }
</script>

    }