@model DeliverEase.Models.CustomerViewModel


@{ string name = Model.Customer.CustomerFirstName;}

<div class="jumbotron">
    <br />
    <center><h4> Hello! @name </h4></center>
    <br />
</div>
<div class="row">
    <div class="col-md-4">
        
        @Html.ActionLink("Place Order","Index","Orders", new { id = Model.Customer.Id }, new {@class="btn btn-success"})
    </div>
    
    <div class="col-md-4">
        
    </div>
</div>