@model DeliverEase.Models.Restaurant

@{string name = Model.RestaurantName;}



<div>
    <div class="jumbotron">
        <center><h4>Hey! @name</h4></center> 
    </div>
    <div class="row">
    @Html.ActionLink("Create Menu", "Create", "Menus")
    </div>
</div>